@font-face {
    font-family: "Inter";
    font-weight: 100;
    src: url(../../assets/fonts/Inter/Inter-Thin.ttf);
}
@font-face {
    font-family: "Inter";
    font-weight: 300;
    src: url(../../assets/fonts/Inter/Inter-Light.ttf);
}
@font-face {
    font-family: "Inter";
    font-weight: 400;
    src: url(../../assets/fonts/Inter/Inter-Regular.ttf);
}
@font-face {
    font-family: "FiraSans-LightItalic";
    font-weight: 300;
    src: url(../../assets/fonts/Fira_Sans/FiraSans-LightItalic.ttf);
}
@font-face {
    font-family: "FiraSans-MediumItalic";
    font-weight: 400;
    src: url(../../assets/fonts/Fira_Sans/FiraSans-MediumItalic.ttf);
}
@font-face {
    font-family: "FiraSans-SemiBoldItalic";
    font-weight: 600;
    src: url(../../assets/fonts/Fira_Sans/FiraSans-SemiBoldItalic.ttf);
}
@font-face {
    font-family: "Inter";
    font-weight: 500;
    src: url(../../assets/fonts/Inter/Inter-Medium.ttf);
}
@font-face {
    font-family: "Inter";
    font-weight: 700;
    src: url(../../assets/fonts/Inter/Inter-Bold.ttf);
}
@font-face {
    font-family: "Inter";
    font-weight: 900;
    src: url(../../assets/fonts/Inter/Inter-Black.ttf);
}

