// Fonts
$font-main: "Inter";
$font-italic: "FiraSans-LightItalic";
$font-MediumItalic: "FiraSans-MediumItalic";
$font-SemiBoldItalic: "FiraSans-SemiBoldItalic";
//Font-size
$font-size__72: 72px;
$font-size__40: 40px;
$font-size__24: 24px;
$font-size__16: 16px;
$font-size__12: 12px;

// Paddings

// Colors
$white: #fff;
$asure: #F0FFFF;
$darkBrown: #663300;
$paleYellow: #FFFFCC;


// Gradients

// Shadows
$shadow-hover__dark: 0 0 20px $darkBrown;


