.homePage {
  padding: 7%;
  color: $darkBrown;
  background-color: $paleYellow;
}
.homeTitle {
  font-size: $font-size__40;
  font-weight: 700;
  text-align: center;
  margin-bottom: 80px;
}

.homeList {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  &Project {
    width: 100%;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 40px;
    background-color: #ffffe0;
    border: 1px solid $darkBrown;
  }
  &Title {
    font-size: $font-size__24;
    padding: 10px 0;
    font-weight: 500;
  }
  &Text {
    font-family: $font-MediumItalic;
    padding: 5px 10px;
    margin: 0 0 10px 0;
  }
  &Code {
    width: auto;
    height: 0px;
    padding: 0px;
    margin-bottom: 20px;
    border: 1px solid $darkBrown;
    border-radius: 10px;
    background-color: $white;
    overflow: hidden;
    transition: height 0.5s;
  }
}
.homeLine {
  width: 100%;
  height: 1px;
  border-radius: 1px;
  background-color: $darkBrown;
  margin-bottom: 40px;
}
.homeAvards {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  & a {
    margin: 0 20px;
  }
  &5day {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    background-image: url(../../assets/images/img-home-5day.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: box-shadow 0.3s, border 0.1s;
    &:hover {
      box-shadow: $shadow-hover__dark;
    }
    &:active {
      border: 3px solid $paleYellow;
    }
  }
  &Codewars {
    width: 300px;
    height: 30px;
    background-image: url(https://www.codewars.com/users/Sergey-Maxim0v/badges/large);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 10px;
    transition: box-shadow 0.3s, border 0.1s;
    &:hover {
      box-shadow: $shadow-hover__dark;
    }
    &:active {
      border: 3px solid $paleYellow;
    }
  }
}
