@import "./fonts";
@import "./vars";
@import "./mixins";
@import "./cleancing";

// Pages
@import "home";

// Blocks
@import "header";
@import "footer";

// Common style
body {
  font-family: $font-main;
  font-size: $font-size__16;
  font-weight: 400;
}
